.App {
  text-align: center;
  background-color: aquamarine;
}

.search-form {
 display: flex;
 justify-content: center;
 align-items: center; 
}

.search-bar {
  width: 60%;
  background-color: cornsilk;
  height: 50px;
}

.search-button {
  height: 55px;
  width: 80px;
  background-color: cyan;
}

.recipes {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}